:root {
  --main--100: #fff;
  --main--97: #f5f5ff;
  --main--93: #eaeaff;
  --main--89: #ddddff;
  --main--50: #6c5efe;

  --main__primary: var(--dd__m--50);

  --main__container--low: var(--main--100);
  --main__container: var(--main--97);
  --main__container--high: var(--main--93);
  --main__container--higher: var(--main--89);

  --neutral--100: #fff;
  --neutral--97: #f7f6f9;
  --neutral--93: #ebeaf0;
  --neutral--89: #dfdfe4;
  --neutral--60: #8f909c;
  --neutral--40: #696880;
  --neutral--25: #383957;
  --neutral--15: #222340;

  --neutral__primary: var(--neutral--15);
  --neutral__secondary: var(--neutral--25);
  --neutral__tertiary: var(--neutral--40);
  --neutral__caption: var(--neutral--60);
  --neutral__line: var(--neutral--97);

  --neutral__container--low: var(--neutral--100);
  --neutral__container: var(--neutral--97);
  --neutral__container--high: var(--neutral--93);
  --neutral__container--higher: var(--neutral--89);

  --danger--55: #ff2541;

  --dd__blurple--50: #f1f2ff;
  --dd__blurple--100: #e2e2ff;
  --dd__blurple--200: #babaff;
  --dd__blurple--300: #9895fd;
  --dd__blurple--400: #7065f1;
  --dd__blurple--500: #5e4ff0;
  --dd__blurple--600: #4533c0;
  --dd__blurple--700: #2f1c90;
  --dd__blurple--800: #1d0d60;
  --dd__blurple--900: #0e0330;

  --dd__gray--100: #e1e1e4;
  --dd__gray--300: #b0b0ba;
  --dd__gray--400: #9898a5;
  --dd__gray--500: #808090;
  --dd__gray--600: #56566c;
  --dd__gray--700: #3d3d57;
  --dd__gray--800: #252542;

  --dd__red--500: #ff213f;

  --color--primary: var(--main__primary);
  --color--warning: var(--dd__red--500);
  --color--danger: var(--danger--55);
}
